<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title" >{{title}}</h5>
        <span class="instruction">{{instruction}}</span>
    </div>

</div>
<div class="modal-body">
    <form #f="ngForm">
        <!-- Rule Name -->
        <label>Name <span class="important">*</span></label>
        <input type="text" name="name" [(ngModel)]="priceRule.name">
        <error-handler [errors]="errorResponse.errors" [validate]="'name'"></error-handler>

        <!-- Rule Code -->
        <label>Code <span class="important">*</span></label>
        <input type="text" name="rule_code" [(ngModel)]="priceRule.code">
        <error-handler [errors]="errorResponse.errors" [validate]="'rule_code'"></error-handler>

        <!-- Rule Type -->
        <label>Rule Type<span class="important">*</span></label>
        <select name="rule_type" class="custom-select" [(ngModel)]="priceRule.type">
            <!--<option value="" selected disabled> Select Rule Type</option>-->
            <option *ngFor="let ruleType of ruleTypeList" [ngValue]="ruleType.code">{{ruleType.label}}</option>
        </select>
        <error-handler [errors]="errorResponse.errors" [validate]="'rule_type'"></error-handler>

        <!-- Amount to spend -->
        <div *ngIf="priceRule.type == 'spend-x-get-discount'">
            <label>Input amount to spend<span class="important">*</span></label>
            <input type="number" name="minimum_spending" [(ngModel)]="priceRule.amount">
        </div>
        <error-handler [errors]="errorResponse.errors" [validate]="'minimum_spending'"></error-handler>

        <!-- Number of items -->
        <div *ngIf="priceRule.type == 'buy-x-get-discount'">
            <label>Input number of items to buy<span class="important">*</span></label>
            <input type="number" name="minimum_number" [(ngModel)]="priceRule.quantity">
        </div>
        <error-handler [errors]="errorResponse.errors" [validate]="'minimum_number'"></error-handler>

        <div *ngIf="priceRule.type != 'no-discount' ">
            <!-- Discount Type -->
            <label>Discount Type<span class="important">*</span></label>
            <!-- Fixed Price -->
            <label class="custom-control custom-radio">
                <input name="fixed-price" type="radio" class="custom-control-input"
                       value="fixed"
                       [(ngModel)]="priceRule.discount_type">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Fixed Price</span>
            </label>
            <!-- Percent Discount -->
            <label class="custom-control custom-radio">
                <input name="percent-discount" type="radio" class="custom-control-input"
                       value="percent"
                       [(ngModel)]="priceRule.discount_type">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Percent Discount</span>
            </label>

            <br><br>

            <!-- Fixed Price Discount -->
            <div *ngIf="priceRule.discount_type == 'fixed'">
                <label>Input the fixed price discount<span class="important">*</span></label>
                <input type="number" name="fixed_price_discount" [(ngModel)]="priceRule.discount">
            </div>
            <!-- Percentage Discount -->
            <div *ngIf="priceRule.discount_type == 'percent'">
                <label>Input the percent discount<span class="important">*</span></label>
                <input type="number" name="percent_discount" [(ngModel)]="priceRule.discount">
            </div>
        </div>

        <!-- New Product Variation Scopes-->
        <label>Items<span class="important">*</span></label>
        <select name="product_variation_id" class="custom-select" [(ngModel)]="priceRule.product_variation_id">
            <!--<option [ngValue]="" selected disabled> Select Product</option>-->
            <option [ngValue]="null" *ngIf="priceRule.type != 'no-discount'">All Products</option>
            <option *ngFor="let variation of productVariationsList"
                    [ngValue]="variation.id">{{variation.name}}({{variation.size | number:0}} {{ variation.metrics}})
            </option>
        </select>
        <error-handler [errors]="errorResponse.errors" [validate]="'product_variation_id'"></error-handler>

        <!--Customer Scopes-->
        <!--All Customers-->
        <label>Apply to<span class="important">*</span></label>
        <label class="custom-control custom-radio">
            <input id="all-customers" name="apply-to" type="radio" class="custom-control-input customer-discount"
                   value="all"
                   [(ngModel)]="priceRule.apply_to">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">All Customers</span>
        </label>
        <!-- Members Only -->
        <label class="custom-control custom-radio">
            <input id="members-only" name="apply-to" type="radio" class="custom-control-input customer-discount"
                   value="member"
                   [(ngModel)]="priceRule.apply_to">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Members Only</span>
        </label>
        <!-- Guest Customers Only -->
        <label class="custom-control custom-radio">
            <input id="guests-only" name="apply-to" type="radio" class="custom-control-input customer-discount"
                   value="guest"
                   [(ngModel)]="priceRule.apply_to">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Guests Only</span>
        </label>
        <error-handler [errors]="errorResponse.errors" [validate]="'apply-to'"></error-handler>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onUpdate()">Save changes</button>
</div>