<section class="panel-header">
    <div class="panel-details">
        <div class="details">
            <h1>{{title}}</h1>
            <span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> {{description}}</span>
        </div>

        <div class="actions">
            <button class="btn-action" (click)="openAddModal()">ADD CATEGORY</button>
            <button class="btn-action" (click)="openExportModal(categoryList)">EXPORT DATA</button>
        </div>
        <div class="panel-nav">

        </div>
    </div>
    <!--<div class="panel-nav">-->
        <!--<ul>-->
            <!--<li [class.active]="router.url == '/products'">-->
                <!--<a [routerLink]="['/products']">ALL</a>-->
            <!--</li>-->
            <!--<li *ngFor="let category of categories" [class.active]="router.url == '/products/categories/'+category.id">-->
                <!--<a [routerLink]="['/products/categories',category.id]">{{category.name}}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</section>
<section class="panel-content">
    <panel-loading [load]="!dataLoaded"></panel-loading>
    <div class="container">
        <p class="animated fadeIn" *ngIf="categoryList.length <= 0 && dataLoaded">No categories found</p>
        <table class="table table-responsive" *ngIf="maxLength>0">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>CODE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categoryList">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.code}}</td>
                <td class="actions">

                    <a (click)="onEdit(category)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a (click)="onDelete(category.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination" *ngIf="maxLength>0">
            <ngb-pagination [pageSize]="limit" (pageChange)="selectPage($event)"
                            [collectionSize]="maxLength" [(page)]="currentPage" [maxSize]="4"
                            [rotate]="true" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
        </div>
    </div>
</section>