<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title" >{{title}}</h5>
        <span class="instruction">{{description}}</span>
    </div>

</div>
<div class="modal-body">
    <label>Filter By Date: <span class="optional"> (Optional)</span></label>
    <div class="input-group input-daterange">
        <div class="input-group-addon">From</div>
        <input type="text" class="form-control" name="from" [(ngModel)]="filters.from"
               placeholder="yyyy-mm-dd" ngbDatepicker #from="ngbDatepicker" (click)="from.toggle()">
        <div class="input-group-addon">To</div>
        <input type="text" class="form-control" name="to" [(ngModel)]="filters.to"
               placeholder="yyyy-mm-dd" ngbDatepicker #to="ngbDatepicker" (click)="to.toggle()">
    </div><br>

    <label>Filter By Branch: <span class="optional"> (Optional)</span></label>
    <select name="filter_by" class="custom-select" [(ngModel)]="filters.branch_id" required>
        <option *ngFor="let branch of branchList" [ngValue]="branch.id">{{branch.name}}</option>
    </select>

    <label>Filter By Staff: <span class="optional"> (Optional)</span></label>
    <select name="filter_by" class="custom-select" [(ngModel)]="filters.staff_id" required>
        <option *ngFor="let staff of staffList" [ngValue]="staff.staff_id">{{staff.firstname}} {{staff.lastname}}</option>
    </select>

    <label>Filter By Transaction: <span class="optional"> (Optional)</span></label>
    <select name="filter_by" class="custom-select" [(ngModel)]="filters.transaction_type" required>
        <option *ngFor="let transaction of adjustmentTransactionsList" [ngValue]="transaction.code">{{transaction.name}}</option>
    </select>

    <label>Sort By: <span class="optional"> (Optional)</span></label>
    <select name="filter_by" class="custom-select" [(ngModel)]="filters.sort" required>
        <option *ngFor="let sort of sortOptionsList" [ngValue]="sort.value">{{sort.label}}</option>
    </select>

    <label>Order By: <span class="optional"> (Optional)</span></label>
    <select name="filter_by" class="custom-select" [(ngModel)]="filters.order" required>
        <option *ngFor="let order of orderOptionsList" [ngValue]="order.value">{{order.label}}</option>
    </select>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onExport(filters)">Export</button>
</div>
