.product-card {
  width: 15rem;
  padding: 30px;
  float: left;
  margin-right: 20px;

  .action-button {
    margin-right: 5px;
    font-size: 22px;
  }

  .price-details {

    margin-bottom: 10px;

    p {
      margin-bottom: 0;
    }

    .price {
      font-weight: bold;
    }
  }

}

#close-button{
  position:absolute;
  right:0;
  top:0;
}