

.panel-content.section {
    padding: 0;
    overflow: auto;
}

.label {
    margin-left: 10px;
}

.inventory-status {
    margin-top: 20px;
}

.wid-invent {
    color: #a6adbf;
    background-color: #f9fbfc;
}

/**STORE**/
span.store-location {
    color: #737373;
    margin-left: 43px;
}

span.store-name {
    margin-left: 40px;
}

.store-error{
    margin-top:30px;
    margin-bottom:10px;
}

.store-list{
    margin-top:30px;
    margin-bottom:10px;
}