<section class="panel-header" style="padding-bottom: 25px;">
    <div class="panel-details">
        <div class="details">
            <h1>STORE</h1>
            <span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> List of all added branch</span>
        </div>
        <div class="actions">
            <button class="btn-action" (click)="openAddStoreModal()">ADD STORE</button>
            <!--<button class="btn-action">EXPORT DATA</button>-->
        </div>
    </div>
    <div class="panel-nav">

    </div>
</section>

<section class="panel-content section">

    <panel-loading [load]="branches.length<=0"></panel-loading>

    <div class="container" *ngIf="branches.length>0">

        <div class="row" class="store-error">
            <div class="col-xs-12">
                <alert-error-handler [errorResponse]="errorResponse"></alert-error-handler>
            </div>
        </div>

        <div class="row store-list animated fadeIn">

            <div class="col-xs-12 col-sm-6">
                <div *ngFor="let branch of branches; let i = index;" class="widget-wrapper store card" [class.active]="branch.isViewed">

                    <div class="widget-actions">
                        <a (click)="viewBranch(branch)"><i class="fa" [class.fa-eye]="!branch.isViewed" [class.fa-eye-slash]="branch.isViewed" aria-hidden="true"></i></a>
                        <a (click)="onEdit(branch)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a (click)="onDelete(branch, $event)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>

                    <div class="store-details">
                        <div class="icon">
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </div>
                        <div>
                            <span class="store-name">{{branch.name}} <span *ngIf="branch.type == 'franchisee'" class="badge badge-success">FRANCHISEE</span></span>
                            <span class="store-location">{{branch.address}}</span>
                        </div>
                    </div>

                    <div class="more-info">
                        <div class="item" *ngIf="branch.firstname != null">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="owner">{{branch.firstname}} {{branch.lastname}}</span>
                        </div>
                        <div class="item" *ngIf="branch.staff_count>0">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span class="no-staff">{{branch.staff_count}} Staff</span>
                        </div>
                        <div class="item" *ngIf="branch.phone != null">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <span class="contact">{{branch.phone}}</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">

                <panel-loading [load]="loadingStoreInventory"></panel-loading>

                <div class="widget-wrapper store inventory-details card animated fadeIn" *ngIf="currentBranch.isViewed">
                    <div class="inventory-container">
                        <div>
                            <h4 class="inventory-title">{{currentBranch.name}} Current Inventory</h4>
                        </div>
                        <div *ngFor="let item of currentBranch.items" class="inventory-status">
                            <div class="product-details">
                                <span class="product-name">{{item.name}} ({{item.size | number}} {{item.metrics}})</span>
                                <span class="remaining">{{item.branch_quantity | number }} / {{ item.last_delivery_quantity | number}}</span>
                            </div>
                            <div class="inventory-bar">
                                <div class="bar-highlight" [ngStyle]="{'width': item.branch_delivery_percentage+'%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div>


</section>