<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title">RETURN DELIVERY</h5>
        <span class="instruction">Fill up the required field below to return delivery.</span>
    </div>

</div>
<div class="modal-footer" style="border-radius: 0">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="updating">Save changes</button>
</div>
<div class="modal-body">
    <form>
        <div *ngIf="!returnSpecificDelivery">

            <label>Store / Branch<span class="important">*</span></label>
            <select [(ngModel)]="newDelivery.branch_id" name="branch_id" class="custom-select">
                <option [ngValue]="null"> Select Store / Branch</option>
                <option *ngFor="let branch of branches" [ngValue]="branch.id">{{branch.name}}</option>
            </select>

            <error-handler [errors]="errorResponse.errors" [validate]="'branch_id'"></error-handler>
        </div>


        <div *ngIf="returnSpecificDelivery">
            <label>Store / Branch</label>
            <input type="hidden" [value]="branchId" [(ngModel)]="newDelivery.branch_id" name="branch_id">
            <error-handler [errors]="errorResponse.errors" [validate]="'branch_id'"></error-handler>
            <p>{{branchName}}</p>
        </div>

        <div *ngIf="isFranchisee">
            <label>Invoice No.</label>
            <input type="text" class="form-control form-control-important" name="invoice_no" [(ngModel)]="newDelivery.invoice_no">
        </div>

        <label>Remarks</label>
        <textarea class="form-control" name="remarks" [(ngModel)]="newDelivery.remarks"></textarea>

        <alert-error-handler [errorResponse]="errorResponse" [type]="'bullet'"></alert-error-handler>

        <br/>

        <label>Products<span class="important">*</span></label>
        <div class="entries">
            <div *ngIf="!returnSpecificDelivery">
                <div class="entry" *ngFor="let item of newDelivery.deliveries; let i=index">
                    <div class="left">
                        <select name="product_variation_id_{{i}}"
                                [(ngModel)]="item.product_variation_id">
                            <option *ngFor="let variation of productVariations"
                                    [ngValue]="variation.product_variation_id">
                                {{variation.name}} ({{variation.size | number}} {{variation.metrics}})
                            </option><!--  - {{variation.company_quantity | number}} left -->
                        </select>
                    </div>
                    <div class="right">
                        <input type="number" name="quantity_{{i}}" placeholder="Quantity" [(ngModel)]="item.quantity">
                    </div>
                </div>
            </div>

            <div *ngIf="returnSpecificDelivery">
                <div class="entry" *ngFor="let item of deliveryItems; let i=index">
                    <div class="left">
                        <input type="hidden" [(ngModel)]="item.product_variation_id" name="product_variation_id_{{i}}">
                        <p>{{item.name}} {{item.size}} {{item.metrics}}</p>
                    </div>
                    <div class="right">
                        <input type="number" name="quantity_{{i}}" placeholder="Quantity" [(ngModel)]="item.quantity">
                    </div>
                </div>
            </div>

        </div>
        <div align="right" [hidden]="returnSpecificDelivery"><a class="link link-normal" (click)="onAddDeliveryItem()">+
            Add Item</a></div>
    </form>
</div>
