
<section class="panel-header" style="padding-bottom: 25px;">
    <div class="panel-details">
        <div class="details">
            <h1>{{title}}</h1>
            <span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> {{description}}</span>
        </div>
        <div class="actions">
            <button class="btn-action" (click)="openAddStaffModal()">ADD STAFF</button>
            <button class="btn-action" (click)="openExportModal(staff)">EXPORT DATA</button>
        </div>
    </div>
    <div class="panel-nav">

    </div>
</section>
<section class="panel-content">
    <panel-loading [load]="!dataLoaded"></panel-loading>
    <div class="container">

        <!--<div class="date-range">
            <label>Date Range</label>
            <div class="input-group input-daterange">
                <div class="input-group-addon">from</div>
                <input type="text" class="form-control" name="from" [(ngModel)]="filter.from"
                       placeholder="yyyy-mm-dd" ngbDatepicker #from="ngbDatepicker" (click)="from.toggle()">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control" name="to" [(ngModel)]="filter.to"
                       placeholder="yyyy-mm-dd" ngbDatepicker #to="ngbDatepicker" (click)="to.toggle()">
            </div>
        </div>-->

        <!--<div class="filter">

            <div class="submit">
                <button class="btn btn-submit" (click)="onClickGenerateReport()">Generate</button>
            </div>
        </div>-->


        <p class="animated fadeIn" *ngIf="staff.length <= 0 && dataLoaded">No staff found</p>
        <table class="table table-responsive" *ngIf="staff.length > 0">
            <thead>
            <tr>
                <th>NAME</th>
                <th>STAFF ID</th>
                <th>STORE</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>SOLD ITEMS</th>
                <th>HAS VOID PRIVILEGES</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of staff">
                <th>{{user.firstname + ' ' + user.lastname}}</th>
                <td>#{{user.staff_id}}</td>
                <td>{{user.branch_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <span *ngIf="user.sold_items>0">{{user.sold_items}}</span>
                    <span *ngIf="user.sold_items<=0||!user.sold_items">0</span>
                </td>
                <td>{{setVoidPrivilege(user.can_void)}}</td>
                <td class="actions">
                    <a (click)="onEdit(user)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a (click)="onDelete(user.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination" *ngIf="maxLength > 0">
            <ngb-pagination [pageSize]="limit" (pageChange)="selectPage($event)"
                            [collectionSize]="maxLength" [(page)]="currentPage" [maxSize]="4"
                            [rotate]="true" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
        </div>
    </div>
</section>