<!--
<button class="btn btn-primary" (click)="getProducts()">GET ALL</button>
<app-product *ngFor="let product of products" [product]="product" (productDeleted)="productDeleted($event)"></app-product>-->

<section class="panel-header">
    <div class="panel-details">
        <div class="details">
            <h1>{{panelTitle}}</h1>
            <!--<span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> {{panelDescription}}</span>-->
        </div>

        <div class="actions">
            <!--<button class="btn-action" (click)="openAddProductModal()">ADD PRODUCT</button>
            <button class="btn-action" (click)="openAddCategoryModal()">ADD CATEGORY</button>-->
            <button class="btn-action" (click)="openExportModal(products)">EXPORT DATA</button>
        </div>

    </div>
    <div class="panel-nav">
        <ul>
            <li [class.active]="router.url == '/stocks'">
                <a [routerLink]="['/stocks']">WAREHOUSE</a>
            </li>
            <li *ngFor="let branch of branches" [class.active]="router.url == '/stocks/branches/'+branch.id">
                <a [routerLink]="['/stocks/branches',branch.id]">{{branch.name | uppercase }}</a>
            </li>
        </ul>
    </div>
</section>
<section class="panel-content">

    <panel-loading [load]="loadingData"></panel-loading>

    <div class="container animated fadeIn" *ngIf="!loadingData">
        <p *ngIf="productsMaxLength<=0">No Products Found</p>
        <table class="table table-responsive" *ngIf="productsMaxLength>0">
            <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCT NAME</th>
                <th>CODE</th>
                <th>CURRENT INVENTORY</th>
                <th>TOTAL SOLD ITEMS</th>
                <th *ngIf="hasCompanyPrivileges">ADJUSTMENTS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <th>{{product.id}}</th>
                <td>
                   <a class="ledger-link" (click)="openLedgerModal(product)">
                       {{product.name}} ({{product.size | number}} {{product.metrics}})
                   </a>
                </td>
                <td>{{product.code}}</td>
                <td>{{product.branch_quantity | number}}</td>
                <td>{{product.sold_items | number}}</td>
                <td class="actions" *ngIf="hasCompanyPrivileges">

                    <a (click)="onDeliverItem(product)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a (click)="onReturnDeliveredItem(product)"><i class="fa fa-minus" aria-hidden="true"></i></a>

                    <!--
                    <a (click)="onEdit(product)"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                    <a (click)="onDelete(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>-->

                </td>
            </tr>
            </tbody>
        </table>
        <!--<div class="pagination" *ngIf="productsMaxLength>0">
          <ngb-pagination [pageSize]="productsLimit" (pageChange)="selectPage($event)"
                          [collectionSize]="productsMaxLength" [(page)]="productsCurrentPage" [maxSize]="4"
                          [rotate]="true" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
        </div>-->
    </div>
</section>
