<div class="sidebar">
    <div class="branding">
        <!--<div class="logo"><img src="assets/logo-icon.png" alt=""></div>-->
        <div class="company"> DTI STORE</div>
    </div>
    <div class="main-navigation">
        <ul>
            <li class="nav-label">MAIN NAVIGATION</li>

            <a (click)="setCurrentNav('profile')" [class.selected]="currentNav=='profile'">
                <li>
                    <div class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                    <div class="label">Profile</div>
                </li>
            </a>

            <div *ngIf="hasSellerPrivileges">

                <a (click)="setCurrentNav('seller-products')" [class.selected]="currentNav=='seller-products'">
                    <li>
                        <div class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
                        <div class="label">My Products</div>
                    </li>
                </a>

                <a (click)="setCurrentNav('seller-orders')" [class.selected]="currentNav=='seller-orders'">
                    <li>
                        <div class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
                        <div class="label">Order History</div>
                    </li>
                </a>

            </div>

            <div *ngIf="hasBuyerPrivileges">

                <a (click)="setCurrentNav('products')" [class.selected]="currentNav=='products'">
                    <li>
                        <div class="icon"><i class="fa fa-square" aria-hidden="true"></i></div>
                        <div class="label">Products</div>
                    </li>
                </a>

                <a (click)="setCurrentNav('cart')" [class.selected]="currentNav=='cart'">
                    <li>
                        <div class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                        <div class="label">View Cart</div>
                    </li>
                </a>

                <a (click)="setCurrentNav('buyer-orders')" [class.selected]="currentNav=='buyer-orders'">
                    <li>
                        <div class="icon"><i class="fa fa-list" aria-hidden="true"></i></div>
                        <div class="label">Order History</div>
                    </li>
                </a>

                <a (click)="setCurrentNav('wishlist')" [class.selected]="currentNav=='wishlist'">
                    <li>
                        <div class="icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        <div class="label">Wishlist</div>
                    </li>
                </a>

            </div>

            <div *ngIf="hasAdminPrivileges">
                <!--<a (click)="setCurrentNav('dashboard')"
                   [class.selected]="currentNav=='dashboard'">
                    <li>
                        <div class="icon"><i class="fa fa-list" aria-hidden="true"></i></div>
                        <div class="label">Dashboard</div>
                    </li>
                </a>-->

                <a
                   class="submenu" data-dropdown="users">
                    <li>
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="label">
                            SELLER
                        </div>
                        <div class="icon-right"><i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="sub-items show">

                            <div class="sub-item" (click)="setCurrentNav('sellers')">
                                <div class="icon"><i class="fa fa-building" aria-hidden="true"></i></div>
                                <div class="label">Manage Account</div>
                            </div>

                            <div class="sub-item" (click)="setCurrentNav('sellers/transactions')">
                                <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <div class="label">Manage Transaction</div>
                            </div>

                            <div class="sub-item" (click)="setCurrentNav('sellers/products')">
                                <div class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                <div class="label">Manage Product</div>
                            </div>

                        </div>
                    </li>
                </a>

                <a
                   class="submenu" data-dropdown="users">
                    <li id="users">
                        <div class="icon"><i class="fa fa-users"></i></div>
                        <div class="label">
                            BUYER
                        </div>
                        <div class="icon-right"><i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="sub-items show">

                            <div class="sub-item" data-id="stores" (click)="setCurrentNav('buyers')">
                                <div class="icon"><i class="fa fa-building" aria-hidden="true"></i></div>
                                <div class="label">Manage Account</div>
                            </div>

                            <div class="sub-item" data-id="customers" (click)="setCurrentNav('buyers/transactions')">
                                <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                <div class="label">Manage Transaction</div>
                            </div>

                        </div>
                    </li>
                </a>

                <a (click)="setCurrentNav('vouchers')"
                   [class.selected]="currentNav=='vouchers'">
                    <li>
                        <div class="icon"><i class="fa fa-ticket" aria-hidden="true"></i></div>
                        <div class="label">Voucher</div>
                    </li>
                </a>

                <!--<a (click)="setCurrentNav('dashboard')"
                   [class.selected]="currentNav=='dashboard'">
                    <li>
                        <div class="icon"><i class="fa fa-tachometer" aria-hidden="true"></i></div>
                        <div class="label">About</div>
                    </li>
                </a>-->
            </div>



        </ul>
    </div>
</div>

<div class="main-panel">
    <section class="search-bar" [class.disabled]="!searchIsOn">

        <div class="header-nav">

            <div class="logout">
                <a (click)="logout()" class="signout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
            </div>

            <div class="account-info">
                <a class="account" (click)="goToProfilePage()">{{currentUser.firstname}} {{currentUser.lastname}}</a>
            </div>

            <div *ngIf="hasBuyerPrivileges" class="notifications">

                <a class="notification" (click)="goToCartPage()">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span *ngIf="cartCount>0" class="badge badge-warning badge-pill">{{cartCount}}</span>
                </a>
            </div>


        </div>
    </section>
    <router-outlet></router-outlet>
</div>