<section class="panel-header" style="padding-bottom: 25px;">
    <div class="panel-details">
        <div class="details">
            <h1>{{title}}</h1>
            <span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> {{description}}</span>
        </div>
        <div class="actions">

            <button (click)="openAddSaleTransactionModal()" class="btn-action" style="margin-right:10px;">ADD SALE TRANSACTION</button>

            <!-- SORT BY -->
            <div class="btn-group">
                <select name="order-by" class="custom-select" style="margin-bottom: 0;"
                        (ngModelChange)="sortSales($event)"
                        [(ngModel)]="salesSort">
                    <option selected disabled>SORT BY</option>
                    <option *ngFor="let sort of sortOptionsList" [value]="sort.value">
                        {{sort.label}}
                    </option>
                </select>
            </div>

            <!-- ORDER BY -->
            <div class="btn-group">
                <select name="order-by" class="custom-select" style="margin-bottom: 0;"
                        (ngModelChange)="reorderSales($event)"
                        [(ngModel)]="salesOrder">
                    <option selected disabled>ORDER BY</option>
                    <option *ngFor="let order of orderOptionsList" [value]="order.value">
                        {{order.label}}
                    </option>
                </select>
            </div>

            <button class="btn-action" (click)="openExportModal(transactions)">EXPORT DATA</button>

        </div>
    </div>
    <div class="panel-nav">
        <ul>
            <li [class.active]="router.url == '/sales'">
                <a [routerLink]="['/sales']">ALL</a>
            </li>
            <li *ngFor="let branch of branchList" [class.active]="router.url == '/sales/branch/'+branch.id">
                <a [routerLink]="['/sales/branch',branch.id]">{{branch.name}}</a>
            </li>
        </ul>
    </div>
</section>
<section class="panel-content">

    <panel-loading [load]="loadingData"></panel-loading>

    <div class="container" *ngIf="!loadingData">
        <p *ngIf="maxLength <= 0">No Sales Found</p>
        <alert-error-handler [errorResponse]="errorResponse"></alert-error-handler>
        <table class="table table-responsive animated fadeIn" *ngIf="maxLength > 0">
            <thead>
            <tr>

                <th>OR/INVOICE NUMBER</th>
                <th>STATUS</th>
                <th>CUSTOMER</th>
                <th>ITEMS</th>
                <th>TOTAL PRICE</th>
                <th>BRANCH</th>
                <th>STAFF</th>
                <th>DATE</th>
                <th>ACTIONS</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions; let i = index;"
                class="transaction-row-border transaction-{{transaction.transaction_type}} transaction-sub-type-{{transaction.sub_type}}">

                <th>
                    
                    <span *ngIf="transaction.sub_type != 'delivery'">#{{transaction.or_no}}</span>
                    <span *ngIf="transaction.sub_type == 'delivery'">{{transaction.invoice_no}}</span>
                </th>
                <th>
                    <span *ngIf="transaction.sub_type != 'delivery'" class="transaction-status transaction-status-{{transaction.transaction_type}}">
                        {{transaction.transaction_type_name}}
                    </span>
                    <span *ngIf="transaction.sub_type == 'delivery'" class="transaction-status transaction-status-{{transaction.transaction_type}}">
                        DELIVERY {{transaction.transaction_type_name}}
                    </span>
                </th>
                <td>{{transaction.customer_firstname}} {{transaction.customer_lastname}}</td>
                <td>{{transaction.items_string | truncate : 50 : '...'}}</td>
                <td>
                    ₱
                    <span *ngIf="transaction.sub_type == 'delivery'">{{transaction.franchisee_total}}</span>
                    <span *ngIf="transaction.sub_type != 'delivery'">{{transaction.total - transaction.discount | number: '1.2-2'}}</span>
                </td>
                <td>{{transaction.branch_name}}</td>
                <td>{{transaction.staff_firstname}} {{transaction.staff_lastname}}</td>
                <td>{{transaction.created_at | date}}</td>
                <td class="actions">
                    <a (click)="onViewTransaction(transaction)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a *ngIf="isTransactionCanBeVoided(transaction)" (click)="onVoidTransaction(transaction)"><i
                            class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>


            </tbody>
        </table>
        <div class="pagination" *ngIf="maxLength > 0">
            <ngb-pagination [pageSize]="limit" (pageChange)="selectPage($event)"
                            [collectionSize]="maxLength" [(page)]="currentPage" [maxSize]="4"
                            [rotate]="true" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
        </div>
    </div>
</section>