
<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title" >{{title}}</h5>
        <span class="instruction">{{instruction}}</span>
    </div>

</div>
<div class="modal-body">
    <form>
        <!--Firstname-->
        <label>First Name <span class="important">*</span></label>
        <input type="text" name="firstname" [(ngModel)] = "customer.firstname">
        <error-handler [errors]="errorResponse.errors" [validate]="'firstname'"></error-handler>

        <!--Lastname-->
        <label>Last Name <span class="important">*</span></label>
        <input type="text" name="lastname" [(ngModel)] = "customer.lastname">
        <error-handler [errors]="errorResponse.errors" [validate]="'lastname'"></error-handler>

        <!-- Branch Registered -->
        <label>Branch / Store <span class="important">*</span></label>
        <select name="branch_id" class="custom-select" [(ngModel)] = "customer.branch_id" required>
            <option *ngFor="let branch of branchList" [ngValue]="branch.id">{{branch.name}}</option>
        </select>
        <error-handler [errors]="errorResponse.errors" [validate]="'branch_id'"></error-handler>

        <!--Ema1il-->
        <label>Email<span class="important">*</span></label>
        <input type="email" name="email" [(ngModel)] = "customer.email">
        <error-handler [errors]="errorResponse.errors" [validate]="'email'"></error-handler>

        <!--Phone-->
        <label>Phone Number <span class="optional"> (Optional)</span></label>
        <input type="number" name="phone" [(ngModel)] = "customer.phone">

        <!--Address-->
        <label>Address<span class="optional"> (Optional)</span></label>
        <input type="text" name="address" [(ngModel)] = "customer.address">

        <!--City-->
        <label>City <span class="optional"> (Optional)</span></label>
        <input type="text" name="city" [(ngModel)] = "customer.city">

        <!--Province-->
        <label>Province <span class="optional">(Optional)</span></label>
        <input type="text" name="province" [(ngModel)] = "customer.province">

        <!--Zip-->
        <label>Zip Code <span class="optional"> (Optional)</span></label>
        <input type="text" name="zip" [(ngModel)] = "customer.zip">

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
</div>