<div class="modal-header">
  <div class="modal-headline">
    <h5 class="modal-title">RETURN STOCKS</h5>
    <span class="instruction">Fill up the required field below to update.</span>
  </div>

</div>
<div class="modal-body">

  <form #f="ngForm">

    <label>Product Name: {{product.name}} ({{product.size | number}} {{product.metrics}})</label>

    <label>Cost Price: {{product.cost_price}}</label>
    <label>Selling Price: {{product.selling_price}}</label>
    <label>Selling Price: {{product.company_quantity}}</label>

    <error-handler [errors]="errorResponse.errors" [validate]="'quantity'"></error-handler>
    <alert-error-handler [type]="'bullet'" [errorResponse]="errorResponse"></alert-error-handler>

    <div class="form-group">
      <label>Quantity<span class="important">*</span></label>
      <input type="number" name="quantity" [(ngModel)]="product.quantity" required>
    </div>

    <div class="form-group">
      <label>Remarks</label>
      <textarea name="remarks" class="form-control" [(ngModel)]="product.remarks"></textarea>
    </div>


  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="onUpdate()" [disabled]="updating">Save changes</button>
</div>