

<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title" >ADD STORE</h5>
        <span class="instruction">Fill up the required field below to register a store.</span>
    </div>
</div>
<div class="modal-body">
    <form>
        <label>Store Name <span class="important">*</span></label>
        <input type="text" name="name" [(ngModel)]="branch.name">
        <error-handler [errors]="errorResponse.errors" [validate]="'name'"></error-handler>

        <label>Location <span class="important">*</span></label>
        <input type="text" name="address" [(ngModel)]="branch.address">
        <error-handler [errors]="errorResponse.errors" [validate]="'address'"></error-handler>

        <label>Email <span class="important">*</span></label>
        <input type="email" name="email" [(ngModel)]="branch.email">
        <error-handler [errors]="errorResponse.errors" [validate]="'email'"></error-handler>

        <label>Password <span class="important">*</span></label>
        <input type="password" name="password" [(ngModel)]="branch.password">
        <error-handler [errors]="errorResponse.errors" [validate]="'password'"></error-handler>

        <label>Store Owner / Manager Firstname <span class="optional">Optional</span></label>
        <input type="text" name="firstname" [(ngModel)]="branch.firstname">


        <label>Store Owner / Manager Lastname <span class="optional">Optional</span></label>
        <input type="text" name="lastname" [(ngModel)]="branch.lastname">


        <label>Contact Number <span class="optional">Optional</span></label>
        <input type="text" name="phone" [(ngModel)]="branch.phone">

        <!--Franchisee-->
        <label>Is store under a franchisee?<span class="important">*</span></label>
        <label class="custom-control custom-radio">
            <input id="store-franchisee" name="is_franchisee" type="radio" class="custom-control-input"
                   [value]="'franchisee'"
                   [(ngModel)]="branch.type">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Yes</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="members-only" name="is_franchisee" type="radio" class="custom-control-input"
                   [value]="null"
                   [(ngModel)]="branch.type">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">No</span>
        </label>


    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
</div>