<div class="modal-header">
    <div class="modal-headline">
        <h4 class="modal-title">Update Information</h4>
        <span class="instruction">leave password blank if you don't intend to update your password</span>
    </div>
</div>
<div class="modal-body">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <form>

                    <alert-error-handler [errorResponse]="errorResponse"></alert-error-handler>
                    <span id="success"></span>

                    <label>Firstname</label>
                    <input type="text" name="firstname" required [(ngModel)]="currentUser.firstname" >
                    <error-handler [errors]="errorResponse.errors" [validate]="'name'"></error-handler>

                    <label>Middlename</label>
                    <input type="text" name="middlename" required [(ngModel)]="currentUser.middlename" >
                    <error-handler [errors]="errorResponse.errors" [validate]="'middlename'"></error-handler>

                    <label>Lastname<span class="important">*</span></label>
                    <input type="text" name="lastname" required [(ngModel)]="currentUser.lastname" >
                    <error-handler [errors]="errorResponse.errors" [validate]="'lastname'"></error-handler>

                    <label>Phone<span class="important">*</span></label>
                    <input type="text" name="phone" required [(ngModel)]="currentUser.phone" >
                    <error-handler [errors]="errorResponse.errors" [validate]="'phone'"></error-handler>

                    <label>Email<span class="important">*</span></label>
                    <input type="email" name="email" required [(ngModel)]="currentUser.email" >
                    <error-handler [errors]="errorResponse.errors" [validate]="'email'"></error-handler>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password" id="password" [(ngModel)]="currentUser.password" required>
                        <error-handler [errors]="errorResponse.errors" [validate]="'password'"></error-handler>
                    </div>

                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password"
                               [(ngModel)]="currentUser.password_confirmation" required>
                        <error-handler [errors]="errorResponse.errors" [validate]="'confirm_password'"></error-handler>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onChangePassword()">
        <span>Submit</span>
    </button>
</div>