.filter {
  width: 100%;
  height: 135px;
  /* Rectangle 21: */
  background: rgba(203, 217, 228, 0.59);
  border-radius: 5px;
  padding: 24px;

  .by-store {
    float: left;
    width: 30%;
  }

  .date-range {
    float: left;
    width: 56%;
    padding-left: 26px;
  }

  .input-group-addon {
    padding: 7px 14px !important;
    border: none;
    background: #b9c2c8;
    color: #545454;
    text-shadow: none !important;
  }

  .submit {
    float: left;
    width: 14%;
    padding-top: 31px;
    padding-left: 15px;
  }

  label {
    color: #526278;
  }

}

.results {
  position: relative;
  min-height: 300px;
}

hr.custom-divider {
  border-top: 3px solid rgb(215, 221, 226);
}

button.btn.btn-submit {
  background: #30394B;
  color: #fff;
  width: 100%;
}

.bar-graph {

  .bars {
    position: relative;
    height: 200px;
    float: left;
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .bar-label {

    float: left;
    width: auto;

    ul {
      padding: 0;
      list-style: none;

      li {
        font-size: 12px;
        padding-bottom: 13px;
      }

    }

  }

  .bar {

    height: 180px;
    width: 15px;
    position: relative;
    background: #D8E2EB;
    border-radius: 2px;
    margin: 0px 0px 0 15px;
    float: left;

    span {

      &.label {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        transform: rotate(-90deg);
        transform-origin: left top 0;
        float: left;
        position: relative;
        top: 70%;
        z-index: 101;
        color: #30394b;
        font-size: 11px;
        left: 0;
        font-weight: 300;
        width: 110px;
      }

    }

  }

  .cost {
    position: absolute;
    width: 100%;
    background: #0D757D;
    bottom: 0;
    z-index: 100;
  }

  .profit {
    position: absolute;
    width: 100%;
    background: #2AA8B2;
    bottom: 0;
    z-index: 99;
  }

}

.widget-header h2 {
  font-size: 17px;
  color: #526278;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.chart-list {
  width: 80%;
  float: left;
}

.top-products {
  float: left;
  width: 20%;
}

.widget-wrapper.top-list {
  padding: 15px;
}

.top-products {
  float: left;
  width: 20%;
}

.widget-wrapper.top-list {
  padding: 15px;
}

.top-list .product { /* Musk 350 Items Sold: */
  font-size: 13px;
  color: #354053;
  letter-spacing: 0;
  display: block;
}

.top-list .qty-sold {
  font-size: 11px;
  font-style: italic;
  color: #8894A4;
  margin-bottom: 7px;
  display: block;
}

.sales-summary {
  width: 100%;
  float: left;
}

.summary .icon {
  height: 100%;
  background: red;
  width: 20%;
  text-align: center;
  padding: 11% 0;
  font-size: 21px;
  color: #fff;
  margin-left: 5%;
  float: left;
}

.summary .details {
  float: left;
  width: 72%;
  padding: 8% 7%;
}

.widget-wrapper.summary {
  float: left;
  width: 23%;
  margin: 0 1%;
}

.summary .details span.value {

  /* ₱13,100,121: */
  font-size: 18px;
  color: #323F50;
  letter-spacing: 0;
  font-weight: bold;
  display: block;
}

.summary .details span.label { /* REVENUE: */
  font-size: 11px;
  color: #8894A4;
  letter-spacing: 0;
  display: block;
}

.loader {
  text-align: center;
  display: none;
}

.loader img {
  width: 150px;
  margin-top: 16%;
}

.sales-details {
  float: left;
  width: 100%;
  margin-top: 50px;
}

.sales-details thead {
  background: #6E7E96;
}

.sales-details thead th {
  color: #fff;
  text-align: center;
}

td.profit-col {
  background: #ECF2F6;
}

.sales-details table.table.table-responsive {
  margin: 0;
}

/deep/ .popover {

  background: #000000;

  .arrow {
    &::after {
      border-top-color: #000000 !important;
    }
  }

  .popover-body {
    color: #ffffff !important;
    padding: 5px 8px !important;
  }

  b {
    font-size: 12px;
    color: #2aa8b2;
    margin-right: 5px;
  }

  span {
    font-size: 12px;
    text-align: center;

    b {
      font-size: 9px;
      font-weight: 300;
      color: #ffffff;
      margin: 0;
      font-style: italic;
      display: block;
      width: 100%;
      float: left
    }
  }

  i {
    font-size: 12px;
  }

}