<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title" >{{title}}</h5>
        <span class="instruction">{{instruction}}</span>
    </div>

</div>
<div class="modal-body">
    <form>
        <label>Category Name<span class="important">*</span></label>
        <input type="text" name="category" name="name" required [(ngModel)]="category.name" >
        <error-handler [errors]="errorResponse.errors" [validate]="'name'"></error-handler>

        <label>Code<span class="important">*</span></label>
        <input type="text" name="code" required [(ngModel)]="category.code"(keyup)="generateProductCode()">
        <error-handler [errors]="errorResponse.errors" [validate]="'code'"></error-handler>


        <label>Color<span class="important">*</span> &nbsp;
            <input class="color-picker color" type="color" name="color" style="width: 100px"  required [(ngModel)]="category.color" >
            <error-handler [errors]="errorResponse.errors" [validate]="'color'"></error-handler>
        </label>
        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
</div>