<!--
<button class="btn btn-primary" (click)="getProducts()">GET ALL</button>
<app-product *ngFor="let product of products" [product]="product" (productDeleted)="productDeleted($event)"></app-product>-->
<section class="panel-header">
  <div class="panel-details">
    <div class="details">
      <h1>
        <!--{{panelTitle}}-->
        <select name="order-by" class="custom-select" style="margin-bottom: 0;"
                [(ngModel)]="branchTransactions"
                (change)="getReportsByBranch()">
          <option [value]="null">Select Franchisee</option>
          <option *ngFor="let branch of branchList" [value]="branch.id">
            {{branch.name}}
          </option>
        </select>
      </h1>
      <span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> {{panelDescription}}</span>
    </div>
    <!--<div class="actions">
        <button class="btn-action" (click)="openEditBranchModal()">Edit Branch</button>
        <button class="btn-action"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </div>-->
  </div>
  <div class="panel-nav">
    <ul>
      <!--<li>
        <a>SUMMARY</a>
      </li>-->
      <!--<li>
          <a>SALES</a>
      </li>
      <li>
          <a>INVENTORY</a>
      </li>-->
    </ul>
  </div>
</section>
<section class="panel-content panel-custom">
  <!--sec-cont-->
  <div class="container dashboard-container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 flex-direction">

        <panel-loading [load]="loadingOverview" [text]="'Loading overview...'"></panel-loading>

        <p *ngIf="!branchTransactions">Select franchisee branch to view sales summary</p>

        <div *ngIf="branchTransactions">
          <h4 class="overview-title">OVERVIEW</h4>
          <div class="widget-wrapper store widget-card" *ngIf="!loadingOverview">
            <div class="left left-shop-one">
              <div class="icon">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class="center">
              <li class="display-total"><b>₱{{ totalSalesPerYear | number : '1.2-2'}}</b></li>
              <li class="total-details">TOTAL SALES THIS YEAR</li>
            </div>
          </div>
          <div class="widget-wrapper store widget-card" *ngIf="!loadingOverview">
            <div class="left left-shop-two">
              <div class="icon">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class="center">
              <li class="display-total"><b>₱{{totalSalesPerMonth | number : '1.2-2'}}</b></li>
              <li class="total-details">TOTAL SALES THIS MONTH</li>
            </div>
          </div>
          <div class="widget-wrapper store widget-card" *ngIf="!loadingOverview">
            <div class="right right-user-one ">
              <div class="icon">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class="center">
              <li class="display-total"><b>₱{{totalSalesPerDay | number : '1.2-2'}}</b></li>
              <li class="total-details">TOTAL SALES TODAY</li>
            </div>
          </div>
          <!--<div class="widget-wrapper store widget-card" *ngIf="!loadingOverview">
            <div class="right right-user-two ">
              <div class="icon">
                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
              </div>
            </div>
            <div class="center">
              <li class="display-total"><b>{{memberCountPerYear | number : '1.0-0'}}</b></li>
              <li class="total-details">TOTAL CUSTOMER (MONTH)</li>
            </div>
          </div>-->
        </div>

      </div>
    </div>

    <div class="row" *ngIf="branchTransactions">
      <div class="col-sm-12">
        <div class="sales-summary">
          <div class="widget-header">
            <h2>SALES SUMMARY</h2>
          </div>

          <panel-loading [load]="loadingProductsSalesSummary" [text]="'Loading sales summary...'"></panel-loading>

          <div class="widget-wrapper sales-details" *ngIf="productsSalesSummary.length>0">

            <table class="table table-responsive">
              <thead>
              <tr>
                <th>PRODUCTS</th>
                <th>COST OF SALES</th>
                <th>REVENUE</th>
                <th>NET SALES</th>
                <th>GROSS PROFIT</th>
                <th>GROSS MARGIN</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of productsSalesSummary; let i = index;">
                <th>{{item.product_name}}</th>
                <td>₱{{item.cost_of_sales | number : '1.2-2'}}</td>
                <td>₱{{item.sales | number : '1.2-2'}}</td>
                <td>₱{{item.net_sales | number : '1.2-2'}}</td>
                <td class="profit-col">₱{{item.gross_profit | number : '1.2-2'}}</td>
                <td>{{item.gross_margin*100 | number : '1.2-2' }}%</td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
