
<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title">ADD PRODUCT</h5>
    </div>

</div>
<div class="modal-body">

    <alert-error-handler [errorResponse]="errorResponse" [type]="'bullet'"></alert-error-handler>

    <form #f="ngForm">

        <div class="row">

            <div class="col-xs-12 col-sm-12">

                <label>Product Name<span class="important">*</span></label>
                <input type="text" name="name" required [(ngModel)]="product.name">
                <error-handler [errors]="errorResponse.errors" [validate]="'name'"></error-handler>

                <label>Image URL<span class="important">*</span></label>
                <input type="text" name="name" required [(ngModel)]="product.image_url">
                <error-handler [errors]="errorResponse.errors" [validate]="'image_url'"></error-handler>

                <label>Description<span class="important">*</span></label>
                <input type="text" name="description" required [(ngModel)]="product.description">
                <error-handler [errors]="errorResponse.errors" [validate]="'description'"></error-handler>

            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Category <span class="important">*</span></label>

                <select name="product_category_id" class="custom-select" [(ngModel)]="product.product_category_id" required>
                    <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
                </select>
                <error-handler [errors]="errorResponse.errors" [validate]="'product_category_id'"></error-handler>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Condition <span class="important">*</span></label>

                <select name="product_condition_id" class="custom-select" [(ngModel)]="product.product_condition_id" required>
                    <option *ngFor="let cat of conditions" [ngValue]="cat.id">{{cat.name}}</option>
                </select>
                <error-handler [errors]="errorResponse.errors" [validate]="'product_condition_id'"></error-handler>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Price<span class="important">*</span></label>
                <input type="number" name="selling_price" required [(ngModel)]="product.variations[0].selling_price">
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>Shipping Fee<span class="important">*</span></label>
                <input type="number" name="shipping_price" required [(ngModel)]="product.variations[0].shipping_price">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
</div>
<!--</div>
</div>
</div>-->