<!--<div class="modal fade" id="addStore" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">-->
<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title">ADD PRODUCT</h5>
        <span class="instruction">Fill up the required field below to add a product.</span>
    </div>

</div>
<div class="modal-body">

    <!--<div class="errors">
        <div *ngFor="let error of errorResponse.errors">
            {{ error.test }}
        </div>
    </div>-->

    <form #f="ngForm">

        <div class="row">

            <div class="col-xs-12 col-sm-6">

                <label>Product Name<span class="important">*</span></label>
                <input type="text" name="name" required [(ngModel)]="product.name" (keyup)="generateProductCode()">
                <error-handler [errors]="errorResponse.errors" [validate]="'name'"></error-handler>

                <label>Code<span class="important">*</span></label>
                <input type="text" name="code" required [(ngModel)]="product.code">
                <error-handler [errors]="errorResponse.errors" [validate]="'code'"></error-handler>

                <label>Category <span class="important">*</span></label>

                <select name="product_category_id" class="custom-select" [(ngModel)]="product.product_category_id" required>
                    <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
                </select>
                <error-handler [errors]="errorResponse.errors" [validate]="'product_category_id'"></error-handler>

            </div>

            <div class="col-xs-12 col-sm-6">

                <div class="image-box">
                    <img [src]="productImageUrl" class="img-fluid add-product-img d-block mx-auto">
                </div>

                <label>Image <span class="optional">Optional</span></label>
                <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input" name="image_url" (change)="onSelectedFile($event)">
                    <span class="custom-file-control">{{productImageName}}</span>
                </label>



            </div>

        </div>


        <h2>Product Variations</h2>
        <alert-error-handler [errorResponse]="errorResponse" [type]="'bullet'"></alert-error-handler>

        <hr>

        <div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Variation</th>
                    <th>Metrics</th>
                    <th>Quantity</th>
                    <th>Cost Price</th>
                    <th>Selling Price</th>
                    <th>Franchisee Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let variation of product.variations; let i=index">
                    <td>
                        <input class="inline-input number" type="number" name="size_{{i}}" [(ngModel)]="variation.size" required>
                    </td>
                    <td>
                        <input class="inline-input number" type="string" name="metrics_{{i}}" [(ngModel)]="variation.metrics" placeholder="ml" required>
                        <!--<select class="inline-input number" name="metrics_{{i}}" [(ngModel)]="variation.metrics" required>
                            <option *ngFor="let metric of metrics" [ngValue]="metric.value">{{metric.name}}</option>
                        </select>-->
                        <!--<input class="inline-input number" type="number" name="metrics" [(ngModel)]="variation.metrics" required>-->
                    </td>
                    <td>
                        <input class="inline-input number" type="number" name="quantity_{{i}}" [(ngModel)]="variation.quantity" required>
                    </td>
                    <td>
                        <input class="inline-input number" type="number" name="cost_price_{{i}}" [(ngModel)]="variation.cost_price" required>
                    </td>
                    <td>
                        <input class="inline-input number" type="number" name="selling_price_{{i}}" [(ngModel)]="variation.selling_price"
                               required>
                    </td>
                    <td>
                        <input class="inline-input number" type="number" name="franchisee_price_{{i}}" [(ngModel)]="variation.franchisee_price"
                               required>
                    </td>
                    <td>
                        <button (click)="onRemoveVariationRow(i)" class="btn btn-danger">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button (click)="onAddVariationRow(variation)" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
</div>
<!--</div>
</div>
</div>-->