

<section class="panel-header" style="padding-bottom: 25px;">
    <div class="panel-details">
        <div class="details">
            <h1>{{title}}</h1>
            <span class="sub-info"><i class="fa fa-th-large" aria-hidden="true"></i> {{description}}</span>
        </div>
        <div class="actions">
            <button class="btn-action" (click)="openAddPricingRuleModalComponent()">ADD RULE</button>
            <button class="btn-action" (click)="openExportModal(pricingList)">EXPORT DATA</button>
        </div>
    </div>
    <div class="panel-nav">

    </div>
</section>
<section class="panel-content">
    <panel-loading [load]="!dataLoaded"></panel-loading>
    <div class="container">
        <p class="animated fadeIn" *ngIf="pricingList.length <= 0 && dataLoaded">No price rules found</p>
        <table class="table table-responsive" *ngIf="pricingList.length > 0">
            <thead>
            <tr>
                <th>RULE NAME</th>
                <th>APPLIES TO PRODUCT</th>
                <th>RULE TYPE</th>
                <th>DISCOUNT TYPE</th>
                <th>DISCOUNT</th>
                <th>AMOUNT / QUANTITY</th>
                <th>STATUS</th>
                <th>APPLIES TO</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rule of pricingList">
                <th>{{rule.name}}</th>
                <td>{{setProductScope(rule.product_name, rule.size, rule.metrics)}}</td>
                <td>{{rule.type}}</td>
                <td>{{setDiscountType(rule)}}</td>
                <td>{{setPriceDiscount(rule)}}</td>
                <td>{{setAmountOrQuantity(rule)}}</td>
                <td><span [ngClass]="{'confirmed': rule.status == 'active', 'disabled': rule.status == 'disabled'}">{{rule.status}}</span></td>
                <td>{{setPriceRuleScope(rule.apply_to)}}</td>
                <td class="actions">
                    <a (click)="onEdit(rule)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a (click)="onDelete(rule.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a *ngIf="rule.status == 'active'" (click)="onDisable(rule)">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="rule.status == 'disabled'" (click)="onEnable(rule)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination" *ngIf="pricingList.length > 0">
            <ngb-pagination [pageSize]="limit" (pageChange)="selectPage($event)"
                            [collectionSize]="maxLength" [(page)]="currentPage" [maxSize]="4"
                            [rotate]="true" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
        </div>
    </div>
</section>