<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title">NEW TRANSACTION</h5>
        <span class="instruction">Fill up the required fields below to add new transaction.</span>
    </div>

</div>
<div class="modal-footer" style="border-radius: 0">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSaveTransaction()">Save Transaction</button>
</div>
<div class="modal-body">

    <div>
        <div class="row">

            <div class="col-md-12">
                <form>

                    <!-- BRANCHES -->
                    <div class="form-group">
                        <label for="branch_id">Store/Branch <span class="important">*</span></label>
                        <select id="branch_id" class="form-control" name="branch_id"
                                [(ngModel)]="newTransaction.branch_id">
                            <option [value]="null">Select Store/Branch</option>
                            <option *ngFor="let branch of branches;" [value]="branch.id">{{branch.name}}</option>
                        </select>
                        <error-handler [errors]="errorResponse.errors" [validate]="'branch_id'"></error-handler>
                    </div>

                    <!-- STAFF -->
                    <div class="form-group">
                        <label for="staff_id">Select Staff <span class="important">*</span></label>
                        <select id="staff_id" class="form-control" name="staff_id"
                                [(ngModel)]="newTransaction.staff_id">
                            <option value="">Select Staff</option>
                            <option *ngFor="let staff of staffs;" [value]="staff.staff_id">#{{staff.staff_id}} -
                                {{staff.firstname}} {{staff.lastname}}
                            </option>
                        </select>
                        <error-handler [errors]="errorResponse.errors" [validate]="'staff_id'"></error-handler>
                    </div>

                    <!-- DATE -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="or_no">OR Number <span class="important">*</span></label>
                                <input id="or_no" class="form-control form-control-important" type="text"
                                       [(ngModel)]="newTransaction.or_no"
                                       name="or_no">
                                <error-handler [errors]="errorResponse.errors" [validate]="'or_no'"></error-handler>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="created_at">Date <span class="important">*</span></label>
                                <input id="created_at" class="form-control form-control-important" type="text"
                                       [(ngModel)]="newTransaction.created_at" name="created_at"
                                       placeholder="yyyy-mm-dd" ngbDatepicker #created_at="ngbDatepicker"
                                       (click)="created_at.toggle()">
                                <error-handler [errors]="errorResponse.errors"
                                               [validate]="'created_at'"></error-handler>
                            </div>
                        </div>
                    </div>

                    <!-- CUSTOMER SELECTION -->
                    <label>Is the customer a member?<span class="important">*</span></label>
                    <label class="custom-control custom-radio">
                        <input id="store-franchisee" name="customer_type" type="radio" class="custom-control-input"
                               [value]="'member'"
                               [(ngModel)]="customerType">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Yes</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="members-only" name="customer_type" type="radio" class="custom-control-input"
                               [value]="'guest'"
                               [(ngModel)]="customerType"
                               (click)="onSelectGuestCustomerType()">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">No</span>
                    </label><br><br>

                    <!-- MEMBER CUSTOMER ID -->
                    <div class="form-group" *ngIf="customerType == 'member'">
                        <label for="member_id">Member ID <span class="important">*</span></label>
                        <input id="member_id" class="form-control form-control-important" type="number"
                               [(ngModel)]="memberId" name="customer" (change)="onInputMemberId(memberId)">
                        <error-handler [errors]="errorResponse.errors" [validate]="'member_id'"></error-handler>
                    </div>

                    <!-- GUEST CUSTOMER NAME -->
                    <div class="form-group" *ngIf="customerType == 'guest'">
                        <label for="customer_firstname">First Name <span class="important">*</span></label>
                        <input id="customer_firstname" class="form-control form-control-important" type="text"
                               [(ngModel)]="newTransaction.customer_firstname" name="customer">
                        <error-handler [errors]="errorResponse.errors" [validate]="'customer_firstname'"></error-handler>

                        <label for="customer_lastname">Last Name <span class="important">*</span></label>
                        <input id="customer_lastname" class="form-control form-control-important" type="text"
                               [(ngModel)]="newTransaction.customer_lastname" name="customer">
                        <error-handler [errors]="errorResponse.errors" [validate]="'customer_lastname'"></error-handler>
                    </div>

                    <!-- PRODUCTS -->
                    <div class="form-group">
                        <label>Products <span class="important">*</span></label>
                    </div>
                    <div *ngFor="let item of newTransaction.items; let i = index;" class="row">
                        <div class="col-xs-12 col-sm-7">
                            <div class="form-group">
                                <select id="product_variation_id" class="form-control" name="product_variation_id_{{i}}" [(ngModel)]="item.product_variation_id"
                                (change)="onSetProduct(item)">
                                    <option [value]="null">Select Product</option>
                                    <option *ngFor="let variation of productVariations;" [ngValue]="variation.product_variation_id">
                                        {{variation.name}} ({{variation.size | number}} {{variation.metrics}})</option>
                                </select>
                            </div>
                        </div>
                        <!-- QUANTITY -->
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <input (change)="onSetQuantity()" id="quantity" class="form-control form-control-important" type="number" placeholder="Quantity"
                                       [(ngModel)]="item.quantity" name="quantity_{{i}}">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1 no-padding">
                            <a (click)="onRemoveItem(item, i);" class="remove-item text-danger">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>

                    <!-- ADD ITEM BUTTON -->
                    <div class="pull-right">
                        <a class="btn btn-success btn-bordered" (click)="onAddItem()"><i class="fa fa-plus"></i> Add Item</a>
                    </div>

                </form>

                <div class="totals">

                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <b>Subtotal:</b>
                                <span class="row-subtotal">₱ {{newTransaction.calculateSubtotalMinusVat(defaultVat) | number: '1.2-2'}}</span>
                            </p>
                            <p>
                                <b>Vat:</b>
                                <span class="row-vat">₱ {{newTransaction.calculateVatPrice(defaultVat) | number: '1.2-2'}}</span>
                            </p>
                            <p>
                                <b>Discount:</b>
                                <span class="row-discount">₱ {{newTransaction.discount | number: '1.2-2'}}</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="pull-right">
                                <b>Total:</b>
                                <span class="row-total">₱ {{newTransaction.calculateTotal() | number: '1.2-2'}}</span>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


</div>
