<div class="modal-header">
    <div class="modal-headline">
        <h5 class="modal-title">{{title}}</h5>
        <span class="instruction">{{instruction}}</span>
    </div>

</div>
<div class="modal-body">
    <form #f="ngForm">
        <!--First Name-->
        <label>First Name <span class="important">*</span></label>
        <input type="text" name="firstname" [(ngModel)] = "manager.firstname">
        <error-handler [errors]="errorResponse.errors" [validate]="'firstname'"></error-handler>

        <!--Last Name-->
        <label>Last Name <span class="important">*</span></label>
        <input type="text" name="lastname" [(ngModel)] = "manager.lastname">
        <error-handler [errors]="errorResponse.errors" [validate]="'lastname'"></error-handler>

        <!--Email-->
        <label>Email<span class="important">*</span></label>
        <input type="email" name="email" [(ngModel)] = "manager.email">
        <error-handler [errors]="errorResponse.errors" [validate]="'email'"></error-handler>

        <!--Password-->
        <label>Password<span class="important">*</span></label>
        <input type="password" name="password" [(ngModel)] = "manager.password">

        <!--Confirm Password-->
        <label>Confirm Password<span class="important">*</span></label>
        <input type="password" name="confirm_password" [(ngModel)] = "manager.confirm_password">

        <alert-error-handler [type]="'bullet'" [errorResponse]="errorResponse"></alert-error-handler>

        <!--Permissions-->
        <label for="permissions">Permissions<span class="important">*</span></label>
        <div *ngFor="let option of manager.permissions">
            <input class="manager-permission"
                   type="checkbox"
                   name="permissions"
                   value="{{option.code}}"
                   [checked]="option.isChecked"
                   (change)="option.isChecked = !option.isChecked"/>
            {{option.label}}
        </div>
        <error-handler [errors]="errorResponse.errors" [validate]="'permissions'"></error-handler>

        <!--Phone-->
        <label>Phone Number <span class="optional">(Optional)</span></label>
        <input type="number" name="phone" [(ngModel)] = "manager.phone">

        <!--Address-->
        <label>Address <span class="optional">(Optional)</span></label>
        <input type="text" name="address" [(ngModel)] = "manager.address">

        <!--City-->
        <label>City <span class="optional">(Optional)</span></label>
        <input type="text" name="city" [(ngModel)] = "manager.city">

        <!--Province-->
        <label>Province <span class="optional">(Optional)</span></label>
        <input type="text" name="province" [(ngModel)] = "manager.province">

        <!--Zip-->
        <label>Zip Code <span class="optional">(Optional)</span></label>
        <input type="text" name="zip" [(ngModel)] = "manager.zip">
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onUpdate()">Save changes</button>
</div>
