/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');*/
@import '_variables';
@import '_body';
@import '_anchor-tags';
@import '_login';
@import '_general-classes';
@import '_sidebar';
@import '_icons';
@import '_panels.scss';
@import '_general-tags.scss';
@import '_buttons.scss';
@import '_modals.scss';
@import '_tables.scss';
@import '_forms.scss';
@import '_bootstrap-classes.scss';
@import "~ngx-toastr/toastr";

* {
  outline: none;
}

ul.order-status-nav {

  padding: 0;
  list-style-type: none;

  li {
    list-style-type: none;
    display: inline-block;

    &.selected{
      a{
        background:#01446f;
        color:#ffffff;
      }
    }

    a {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      border: 1px solid #ccc;
      padding: 5px 20px;

      &:hover{
        background:#cccccc;
      }
    }

  }

}

.order-btn{
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  padding: 0 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.product-card{
  width:15rem;
  padding:30px;
  float:left;
  margin-right:20px;

  .action-button{
    margin-right:5px;
    font-size:22px;
  }

  .price-details{

    margin-bottom:10px;

    p{
      margin-bottom:0;
    }

    .price{
      font-weight:bold;
    }
  }

}

/*
NOTE: you can create new sass file with underscore (e.g. _deliveries.scss)
AND import it above without the .scss extension
*/